/* background: linear-gradient(187deg, #152f2d, transparent); */
.header_search-box-night {
    display: none;
    position: absolute;
    right: 0%;
    background: var(--background-color-night);
    height: 110%;
    width: 100%;
    z-index: 20;
}

.header_search-box {
    display: none;
    position: absolute;
    right: 0%;
    background: var(--white);
    height: 110%;
    width: 100%;
    z-index: 20;
}

.search-box-mask {
    padding: .75em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    white-space: nowrap;
    background-image: url('assets/background.png');
    height: 100%;
    width: 100%;
}

.search-box-mask-night {
    padding: .75em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    white-space: nowrap;
    background-image: url('assets/stars.png');
    height: 100%;
    width: 100%;
}

.return {
    display: inline-flex;
    gap: 10%;
    align-items: center;
    color: var(--searchBoxColor);
}

.previous-locations {
    color: var(--gray);
}

.previous-locations-night {
    color: var(--white);
}

.track {
    display: flex;
    background: none;
    border: none;
}

.track-span {
    background-image: url('assets/track.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 40px;
    height: 30px;
    padding-left: 2.5px;
}

.track-span-night {
    background-image: url('assets/whitetrack.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 40px;
    height: 30px;
    padding-left: 2.5px;
}

.search-back {
    display: block;
    border: none;
    background: none;
}

label {
    display: flex;
}

.search-back-span {
    background-image: url('assets/back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40px;
    height: 30px;
}

.search-back-span-night {
    background-image: url('assets/whiteback.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40px;
    height: 30px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.header_search-input2 {
    border: none;
    border-radius: 24px;
    color: var(--gray);
    font-size: 0.875rem;
    padding: 10px 8% 10px 8%;
    text-align: left;
    width: 70vw;
    background: url("assets/lupa.png") no-repeat left;
    background-size: 0.875rem;
    background-position: 3%;
    box-shadow: var(--day-shadow);
}

.header_search-input2::placeholder {
    color: var(--gray);
    text-align: center;
}

.header_search-input2:focus {
    outline: none;
}

.header_search-input2-night {
    border: none;
    border-radius: 24px;
    color: var(--searchBoxColor);
    font-size: 0.875rem;
    padding: 10px 8% 10px 8%;
    text-align: left;
    width: 70vw;
    background: url("assets/lupa.svg") no-repeat left;
    background-size: 0.875rem;
    background-position: 3%;
    box-shadow: 1px 3px 5px 2px #ffffff59;
}

.header_search-input2-night::placeholder {
    color: var(--searchBoxColor);
    text-align: center;
}

.header_search-input2-night:focus {
    outline: none;
}

.search-localization-outer-box {
    background: var(--whiteSearchBoxTextBg);
    position: absolute;
    padding: 0 10px;
    z-index: 25;
    display: flex;
    top: 50px;
    align-items: center;
    width: 45%;
    gap: 20px;
    justify-content: flex-start;
    left: 27.45%;
    text-decoration: none;
}

.search-localization {
    background: var(--searchBoxTextBg);
    position: absolute;
    padding: 0 10px;
    z-index: 25;
    display: flex;
    top: 100px;
    align-items: center;
    width: 100%;
    gap: 20px;
    justify-content: flex-start;
    left: 0%;
    text-decoration: none;
}

#city {
    color: #fff;
    text-shadow: 1px 1px 1px #000000c4;
}

#state {
    color: var(--gray);
}

.country-flag {
    width: 40px;
}

.search-history {
    margin-left: auto;
    width: 30px;
}

.reset-span {
    background-image: url('assets/trash.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    width: 42.5px;
    height: 30px;
    padding: 1px 2.5px 0 0;
}

.reset-span-night {
    background-image: url('assets/whitetrash.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    width: 42.5px;
    height: 30px;
    padding: 1px 2.5px 0 0;
}

.reset {
    background: none;
    border: none;
}

@media screen and (max-width: 992px) {
    .search-box-mask-night, .search-box-mask {
        padding: 10px 0;
    }
    
    html{
        overflow: hidden;
    }
}