<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste API pro Henrique</title>
    <link rel="stylesheet" href="teste.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="teste.js"></script>
</head>

<body>

    <div id="app">
        <input type="checkbox" v-model="useFahrenheit"> Fahrenheit?

        <table id="weatherForecastTable">
            <thead>
                <th>Date</th>
                <th>Temperature</th>
                <th>Summary</th>
            </thead>
            <tbody>
                <tr v-for="item in lstTemperatures" :key="item.date">
                    <td>{{ item.date }}</td>
                    <td>{{ useFahrenheit ? item.temperatureF : item.temperatureC }}</td>
                    <td>{{ item.summary }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>